<!DOCTYPE html>
<html>
<head>
  <title>Camden style guide</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag "style_guide", media: "all" %>
  <%= stylesheet_pack_tag "meta", media: "all" %>
</head>
<body>
    <header>
        <h1>Camden Style Guide</h1>
    </header>

    <div class="o-layout">
        <aside class="o-layout__item u-1-of-1 u-1-of-4-desktop bg-light-gray">
            <h2>Style Index</h2>
            <ul>
                <li><a href="#forms">Forms</a></li>
                <li><a href="#layout">Layout</a></li>
            </ul>
        </aside>

        <main class="o-layout__item u-1-of-1 u-3-of-4-desktop">
            <%= yield %>
        </main>
    </div>

</body>
</html>
