<!DOCTYPE html>
<html>
<head>
  <title>Camden style guide</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag "style_guide", media: "all" %>
  <%= stylesheet_pack_tag "meta", media: "all" %>
</head>
<body>
    <div class="o-layout bg-black">
        <aside class="o-layout__item u-1-of-1 u-1-of-4-tablet">
            <h1 class="c-white">Camden Style Guide</h1>
            <ul>
                <li><a class="c-gray" href="#forms">Forms</a></li>
                <li><a class="c-gray" href="#layout">Layout</a></li>
                <li><a class="c-gray" href="#colours">Colours</a></li>
                <li><a class="c-gray" href="#borders">Borders</a></li>
            </ul>
        </aside>

        <main class="o-layout__item u-1-of-1 u-3-of-4-tablet bg-light-gray u-pt">
            <%= yield %>
        </main>
    </div>

</body>
</html>
